#navContainer{
	width:100%;
	height:100px;
	background-color:pink;
	overflow:hidden;
	margin-bottom:50px;
}
#navInner{
	width:100%;
	height:100%;
	line-height:100px;
}
#nav{
	margin:0 10%;
	width:80%;
	height:100%;
	overflow:hidden;
}
#nav:after{
	content:'';
	display:inline-block;
	clear:both;
}
#nav li{
	width:10%;
	padding-right:4%;
	float:left;
	text-align:center;
}
.navItem{
	display:inline-block;
	width:100%;
	height:100%;
	background-color:lightblue;
	text-align:center;	
	font-weight:700;
	color:#223d4b;
}

#tableArea{
	width:100%;
	text-align:center;
}
#tableArea h3{
	width:100%;
	line-height:3rem;
	text-align:center;
}
#tableArea h3 p{
	font-weight:normal;
	font-size:15px;
	color:#333;
}
#tableArea hr{
	background-color:#ccc;
}
#tableContents{
	margin:0 auto;
	width:800px;
	height:600px;
	background-color:lightblue;
}
#table{
	margin:0 auto;
	width:99%;
	border:1px solid #ccc;
	overflow:hidden;
}
.titleRow{
	width:100%;
	height:50px;
}
.titleRow p{
	float:left;
	height:100%;
	line-height:50px;
}
