#contentsWrap{
	background-color:#efefef;
}
/* form�� ���Ե� ��ü contentWrap �κ� */
#formArea{
	width:100%;
	padding:60px 60px 150px 60px;
}

/* ȸ������ �׸� �Էºκ��� ���� */
#registWrap{
	width:100%;
}
#registWrap h3{
	width:100%;
	height:40px;
	lineheight:40px;
	text-align:center;
	font-size:2rem;
	color:#223d4b;
}
#registWrap h3:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	margin:15px 0;
	background-color:red;
}

/* ���� form ���� ���� ���� */
#registerBox{
	width:100%;
	/* background-color:lightblue; */
	margin-top:30px;
}
/* ��¥ form ����*/
#registerBox form{
	width:100%;
	line-height:2rem;
	padding:2%;
}
/* ù ��° fieldset#membership : ȸ������ �Է� �κ� */
#membership{
	width:100%;
	border:none;
}
#membership legend{
	display:inline-block;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:700;
	font-size:24px;
	color:#3e3e3e;
	margin-bottom:50px;
}
#membership legend:after{
	content:'';
	display:block;
	width:5%;
	height:3px;
	background-color:#3e3e3e;
	margin:15px auto;
}
#membership legend span{
	font-size:20px;
	color:red;
	padding-left:5px;
}
/* input�� ���� ul,li�±� */
#signUp{
	width:100%;
	padding:20px;
	border:1px solid #ccc;
}
#signUp li{
	width:100%;
	height:60px;
}
#signUp li label{
	display:inline-block;
	vertical-align:middle;
	width:25%;
	height:50%;
	line-height:30px;
	padding-right:5%;
	text-align:right;
}
#signUp li label:after{
	content:'';
	display:inline-block;
	vertical-align:middel;
	height:15px;
	padding-left:3%;
	border-right:1px solid #3e3e3e;
}
#signUp li input{
	display:inline-block;
	width:50%;
	height:30px;
	line-height:30px;
	text-indent:5px;
	border:none;
}
/* 모든 input 및 버튼기능하는 요소들 모서리처리 */
#signUp li input, #buttonArea input, .agreeText a{
	border-radius:5px;
}
/* email */
#signUp li.email{
	width:100%;
	height:90px;
	margin-bottom:30px;
}
#signUp li.email label{
	height:30px;
	line-height:30px;
}
/* phone */
#signUp li.phone{
	width:100%;
	height:60px;
	margin-bottom:30px;
}
#signUp li.phone label{
	height:30px;
	line-height:30px;
}
#signUp li input[type="button"]{
	display:inline-block;
	width:20%;
	height:30px;
	vertical-align:middle;
	background-color:transparent;
	border:none;
	border:1px solid #223d4b;
	color:#223d4b;
	transition:all .3s ease-in-out;
}
#signUp li input[type="button"]:hover,#signUp li input[type="button"]:focus{
	color:#ededed;
	background-color:#223d4b;
}
#signUp li input[type="checkbox"]{
	display:inline-block;
	width:15px;
	height:15px;
}
/* 주의사항 */
.caution{
	display:inline-block;
	width:100%;
	height:30px;
	line-height:30px;
	padding-left:25%;
	color:red;
	font-size:0.8rem;
}

/* email,phone 수신동의 부분 */
#signUp li.specific p.agree{
	width:50%;
	height:30px;
	line-height:30px;
	margin-left:25%;
	overflow:hidden;
}
#signUp li.specific p.agree input[type="checkbox"]{
	display:inline-block;
	width:3%;
	height:100%;
	padding:0;
	vertical-align:middle;
}
#signUp li.specific p.agree label.normal{
	display:inline-block;
	width:97%;
	height:100%;
	line-height:28px;
	padding:0;
	vertical-align:middle;
	text-align:left;
	text-indent:1%;
}
#signUp li.specific p.agree label.normal:after{
	content:'';
	width:0;
	height:30px;
	line-height:30px;
	display:none;
}

/* #buttonArea */
#buttonArea{
	width:100%;
	height:50px;
	margin-top:30px;
	overflow:hidden;
}
#buttonArea p{
	width:50%;
	height:30px;
	margin:10px auto;
}
#buttonArea p input{
	display:inline-block;
	width:32%;
	height:100%;
	line-height:30px;
	margin-left:1%;
	border:none;
	border:1px solid #ccc;
	background-color:transparent;
	transition:all .3s ease-in-out;
}
#buttonArea p input:hover,#button p input:focus{
	background-color:#223d4b;
	/* color:#ef4b24; */
	color:pink;
	font-weight:700;
}

/* 이용약관, 개인정보 */
#termsPrivacy{
	margin-top:60px;
	width:100%;
	height:100px;
	border:none;
}
#termsPrivacy legend{
	display:inline-block;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:700;
	font-size:24px;
	color:#3e3e3e;
	margin-bottom:50px;
}
#termsPrivacy legend:after{
	content:'';
	display:block;
	width:5%;
	height:3px;
	background-color:#3e3e3e;
	margin:15px auto;
}
.agreeText{
	width:100%;
	padding:30px;
	border:1px solid #ccc;
}
.agreeText p{
	width:100%;
	height:100%;
	line-height:30px;
	overflow:hidden;
	margin-bottom:10px;
}
.agreeText p span{
	display:inline-block;
	width:25%;
	height:100%;
	padding-right:5%;
	vertical-align:middle;
	text-align:right;
}
.agreeText p input[type="checkbox"]{
	display:inline-block;
	width:16px;
	height:16px;
	padding:7px 0;
	vertical-align:middle;
}
.agreeText p label{
	display:inline-block;
	width:49%;
	vertical-align:middle;
	text-indent:1%;
}
.agreeText p a{
	display:inline-block;
	width:20%;
	color:#223d4b;
	background-color:transparent;
	border:1px solid #223d4b;
	text-align:center;
	font-size:0.8rem;
	transition:all .5s ease-in-out;
	vertical-align:middle;
}
.agreeText p:hover a,.agreeText p a:focus{
	color:#ededed;
	background-color:#223d4b;
}
