/* @charset "EUC-KR"; */
@charset "utf-8";

*{margin:0;padding:0;box-sizing:border-box;}
body,header,video,nav,dl,dt,dd,ul,li,footer,section,address,div,p,a,h1,h2,h3,h4{margin:0;padding:0;}
header,nav,section,footer,address{display:block;}
a:link,a:visited{text-decoration:none;cursor:pointer;}
li{list-style-type:none;}
img{border:none;}
h2,.hide{position:absolute;left:-9999px;width:1px;height:1px;line-height:0;overflow:hidden;}